<!DOCTYPE html>
<html>
    <head>
        <H1> Welcome. 
        Generate your prize</H1>
    </head>
    <body> 
        <h2> number generated; {{number_generated}} </h2>
        <h3> prize won; {{prize_won}} </h3>
        <h4>  | Prizes      | </h4>
        <h5>| 2 even numbers + 2 vowel | Platinum       |</h5>
        <h5>| 2 even numbers + 1 vowel or 1 even number + 2 vowel   | Gold       |</h5> 
        <h5>| 2 even numbers or 2 vowel      | Silver       |</h5>
        <h5>| all odd and no vowels   | No pay       |</h5>
        
    </body>
</html>